/.Rproj.user
dataDocker
configDocker
/run/customcommand_output.log
/run/count-trades/customcommand_output.log
/run/big-trades/customcommand_output.log
/examples/big-trades/customcommand_output.log
/prod/caddy/users.caddyfile
/prod/caddy/server.crt
/prod/caddy/server.key
/prod/caddy/root-ca.crt
/prod/caddy/root-ca.key
